<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <%= render "profile-card" %>
    </div>
    <div class="col-12 col-md-4">
      <div height="200px" width="400px" style="background-color: red;"></div>
      <div class="d-none d-md-block w-100">
        <img id="map" class="img-fluid w-100" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoieGVuaWFldmEiLCJhIjoiY2s2Y2dyeWRxMDNnazNscGNlY3o3a3FtaSJ9.gRMQKWJg_bjFuLcvO05ilA'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <%= render "profile-info" %>
      <h3>Reviews</h3>
      <div>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
      </div>
    </div>
  </div>
</div>
