<% @doctors.each do |doctor| %>

<div class="doctor-card bg-white p-3 border-1 my-3 d-flex">
  <div class="doctor-information flex-grow-1 mr-3">
    <div class="d-flex justify-content-between">
      <p class="font-weight-light m-0"><%= doctor.specialization %></p>
      <div class="">
        <i class="fas fa-star"></i>
        <span class="pl-1">
          <% counter = 0 %>
          <% sumofreviews = 0 %>
        <% doctor.bookings.each do |booking| %>
          <% if booking.review != nil %>
            <% counter += 1 %>
            <% sumofreviews += booking.review.rating %>
          <% end %>
        <% end %>
        <% averagerating = sumofreviews.fdiv(counter) %>
        <%= averagerating %>
        </span>
      </div>
    </div>
    <h2 class="mt-2 mb-2"><%= link_to user_path(doctor.id) do %>Dr. <%= doctor.last_name.capitalize %> <% end %></h2>
    <p class="font-weight-light text-jusitfy d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusantium asperiores a expedita aut, iusto nesciunt ipsum dolore aliquam quis aspernatur temporibus eveniet maiores consequatur eius veritatis. Deserunt aliquam, obcaecati.</p>
    <div class="d-flex justify-content-between align-items-end">
      <div class="location">
        <i class="fas fa-map-marker"></i>
        <span><%= doctor.address %></span>
      </div>
    </div>
  </div>
  <% if doctor.photo.attached? %>
    <img class= "doctor-card-image" src="<%= cl_image_path doctor.photo.key %>">
  <% else %>
    <img class = "default-picture" src="https://cdn6.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumbCard.jpg" alt="" class="w-25 d-none d-lg-block">
  <% end %>
</div>
<% end %>
