<div class="white-card d-flex justify-content-between" >
    <% if doctor.photo.attached? %>
      <img src="<%= cl_image_path doctor.photo.key %>" class="avatar" />
    <% else %>
      <img src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="avatar" />
    <% end %>
  <div class="profile-card-data flex-grow-1">
    <h1><%= doctor.first_name.capitalize %> <%= doctor.last_name.capitalize %></h1>
    <h2><%= doctor.specialization.upcase %></h2>
    <div class="ratings d-flex rating">


      <% if @averagerating %>
        <% 5.times do |num| %>
          <% if num < @averagerating %>
            <i class="fas fa-star text-warning"></i>
          <% else %>
            <i class="far fa-star text-warning"></i>
          <% end %>
        <% end %> <p></p>
        <%="Average rating: #{@averagerating}" %>
      <% else %>
        <span class="text-muted">Doctor without reviews</span>
      <% end %>


    </div>
  </div>
</div>
