<br>
<br>
<br>
<br>
<br>
<div class="container-fluid mt-6">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-8">
      <%= render "doctor-card" %>
      <%= render "doctor-card" %>
      <%= render "doctor-card" %>
      <%= render "doctor-card" %>
      <%= render "doctor-card" %>
      <%= render "doctor-card" %>
      <%= render "doctor-card" %>
    </div>
    <div class="d-none d-sm-block col-sm-6 col-md-4">
      <div id="map" style="height: 100%; width: 100%; background-color: red;"></div>
    </div>
  </div>
</div>
