<div class="container pt-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <%= render "profile-card" %>
    </div>
    <div class="col-12 col-md-4">
      <div class="calendar-warpper mb-4">
        <div style="background-color: red; height: 300px; width: 100%;"></div>
        <div class="d-none d-md-block w-100">
          <img id="map" class="img-fluid w-100" src='https://www.worldeasyguides.com/wp-content/uploads/2014/03/Map-of-Plaza-de-la-Republica-Buenos-Aires.jpg'>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <%= render "profile-info" %>
      <h2 class="mb-3">Reviews</h2>
      <div>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
        <%= render "review-card" %>
      </div>
    </div>
  </div>
</div>
