<nav class="navbar navbar-light bg-light pl-8 fixed-top">
  <%= render 'layouts/components/navbar_partials/logo_and_brand' %>
  <% if user_signed_in? && current_user.category == false %>
  <%= render 'layouts/components/navbar_partials/search_bar' %>
  <% end %>
  <% unless current_page?(root_path) %>
  <%= render 'layouts/components/navbar_partials/search_bar' %>
  <% end %>
  <% if user_signed_in? %>
  <%= render 'layouts/components/navbar_partials/user_links' %>
  <% else %>
  <%= render 'layouts/components/navbar_partials/visitor_links' %>
  <% end %>
</nav>

<br><br>
